.products-container {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 50vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 0 10vh 0 ;
}

.products-container h2 {
    font-size: 40px;
}

.products {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: auto;
    min-height: 100vh;
    max-width: 80%;
    justify-content: center;
    justify-items: center;
}